<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movie Search Results</title>
</head>
<body>
    <h1>Movie Search Results</h1>
    <form method="POST">
        <label for="user_query">Search:</label>
        <input type="text" id="user_query" name="user_query">
        <label for="genre">Genre:</label>
        <select id="genre" name="genre" multiple>
            <option value="Drama">Drama</option>
            <option value="Action">Action</option>
            <!-- Dodaj więcej opcji gatunków według potrzeb -->
        </select>
        <label for="score">Score:</label>
        <input type="number" id="score" name="score" min="0" max="100">
        <button type="submit">Search</button>
    </form>

    <div id="results">
        {% if results %}
            <ul>
                {% for movie, score in results %}
                    <li>
                        <strong>{{ movie.names }}</strong> - {{ score }} {{country}}
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            <p>No results found.</p>
        {% endif %}
    </div>
</body>
</html>
